<h1>
  Realizar pago Payu Latam
</h1>

<div fxLayout="row" fxLayoutGap="30px">
  <div fxFlex>
    <mat-form-field>
      <label>
        <input matInput placeholder="Email" [(ngModel)]="buyerEmail">
      </label>
    </mat-form-field>
  </div>
  <div fxFlex>
    <mat-form-field>
      <label>
        <input matInput currencyMask [options]="{ prefix: '$ ',suffix : ' COP',align:'left'}" placeholder="Amount" [(ngModel)]="amount">
      </label>
    </mat-form-field>
    <p>{{amount}}</p>
  </div>
  <div fxFlex fxFlexAlign="center">
    <button mat-raised-button (click)="openDialog()">Realizar pago</button>
  </div>
</div>

