<mat-card>
    <mat-card-header>
        <mat-card-title>Form</mat-card-title>
    </mat-card-header>
    <form #formRe="ngForm" (ngSubmit)="formRe.form.valid && send()" name="formRe" novalidate>
        <mat-card-content>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput="matInput" [(ngModel)]="data.name" #name="ngModel" name="name" type="text" placeholder="Name" required [ngClass]="{ 'ng-untouched': formRe.submitted && name.invalid }">
                    <mat-error *ngIf="formRe.submitted && name.invalid">
                        <span *ngIf="name.errors.required">Name is required</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput="matInput" type="text" [(ngModel)]="data.last" #last="ngModel" name="last" placeholder="Last name" required minlength="6" pattern="^[\w\s-]+$">
                    <mat-error *ngIf="formRe.submitted && last.invalid">
                        <span *ngIf="last.errors.required">
                            Last name is require
                        </span>
                        <span *ngIf="last.errors.minlength">
                            Last names character min 6
                        </span>
                        <span *ngIf="last.errors.pattern">
                            not accept symbol
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput="matInput" name="email" [(ngModel)]="data.email" #email="ngModel" type="text" placeholder="Email" required email>
                    <mat-error *ngIf="formRe.submitted && email.invalid">
                        <span *ngIf="email.errors.required">
                                Email is require
                            </span>
                        <span *ngIf="email.errors.email">
                                Email is invalid
                            </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Yours life</mat-label>
                    <textarea matInput placeholder="Yours life" required></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Favorite color</mat-label>
                    <mat-select placeholder="Select" required>
                        <mat-option *ngFor="let color of colors" [value]="color.name">
                            <small>{{color.name}}</small> <small class="color-select" [ngStyle]="{'background-color': color.name}"></small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="data.pass" #pass="ngModel" name="password" type="Password" placeholder="Password" required minlength="6">
                    <mat-error *ngIf="formRe.submitted && pass.invalid">
                        <div *ngIf="pass.errors.required">
                            passwors is required
                        </div>
                        <div *ngIf="pass.errors.minlength">
                            Min 6 charter
                        </div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" name="conPassword" placeholder="Confirm password" required>
                    <!-- <mat-error *ngIf="conPassword.errors.mustMatch">
                        Las contraseñas no coinciden
                    </mat-error> -->
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">
                Send
            </button>
        </mat-card-actions>
    </form>

</mat-card>