<mat-card>
    <mat-card-header>
        <mat-card-title>Form</mat-card-title>
    </mat-card-header>
    <form #formRe="ngForm" (ngSubmit)="formRe.form.valid && send()" name="formRe" novalidate>
        <mat-card-content>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="data.name" #name="ngModel" name="name" [ngClass]="{ 'is-invalid': formRe.submitted && name.invalid }" type="text" placeholder="Name" required>
                    <mat-error *ngIf="formRe.submitted && name.invalid">
                        requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput [(ngModel)]="data.lastname" name="lastname" #lastname="ngModel" type="text" placeholder="Last name" required>
                    <mat-error *ngIf="formRe.submitted && lastname.invalid">
                        requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="data.email" #email="ngModel" name="email" type="text" placeholder="Email" email required>
                    <mat-error *ngIf="formRe.submitted && email.invalid ">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email is invaid</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Yours life</mat-label>
                    <textarea matInput placeholder="Yours life" required></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Favorite color</mat-label>
                    <mat-select placeholder="Select" required>
                        <mat-option *ngFor="let color of colors" [value]="color.name">
                            <small>{{color.name}}</small> <small class="color-select" [ngStyle]="{'background-color': color.name}"></small>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="data.pass" #pass="ngModel" name="password" type="Password" placeholder="Password" required minlength="6">
                    <mat-error *ngIf="formRe.submitted && pass.invalid">
                        <div *ngIf="pass.errors.required">
                            passwors is required
                        </div>
                        <div *ngIf="pass.errors.minlength">
                            Min 6 charter
                        </div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" name="conPassword" placeholder="Confirm password" required>
                    <!-- <mat-error *ngIf="conPassword.errors.mustMatch">
                        Las contraseñas no coinciden
                    </mat-error> -->
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">
                Send
            </button>
        </mat-card-actions>
    </form>

</mat-card>