<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/Prueba']" routerLinkActive="router-link-active">prueba 1</a>
      <a mat-list-item [routerLink]="['/Form']" routerLinkActive="router-link-active">Form </a>
      <a mat-list-item [routerLink]="['/Tablas-socket']" routerLinkActive="router-link-active">Tablet socket</a>
      <a mat-list-item [routerLink]="['/Grafica']" routerLinkActive="router-link-active">grafica socket</a>
      <a mat-list-item [routerLink]="['/Pagos']" routerLinkActive="router-link-active">Pagos payu</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <i class="material-icons">
          menu
        </i>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <footer [ngSwitch]="socketS.Sstatus">
      <p *ngSwitchCase="true" class="connect">Conectado al servidor</p>
      <p *ngSwitchCase="false" class="disconnect">Desconectado al servidor</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
